@import "tailwindcss";


@theme{
    --color-principal :  oklch(0.28 0.037 236.15);
    --color-bg :oklch(0.97 0 0);
    --color-blue-barber :oklch(0.4635 0.2338 272.75);
    --color-blue-sa :oklch(0.4376 0.131 252.67);
}